################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/bin
*/bin/*
*/obj
*/obj/*
*.user
*/.vs
/packages
